APP_ENV=local
APP_DEBUG=true
APP_KEY=FTtmZb3yw2KtROIiMYCcwtBsU4fPnl9b

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=root
DB_PASSWORD=

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=localhost
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailgun.org
MAIL_PORT=587
MAIL_USERNAME=postmaster@sandbox970b9e3abe214c4285d6808e7c97f9ab.mailgun.org
MAIL_PASSWORD=112af8b4fc88a80a4470339e83f33345
MAIL_ENCRYPTION=tls
